html {
    height: 100%;
}
body {
    background-image: url(../images/fresh_snow.png);
    height: 100%;
}
.wrapper {
    position: relative;
    min-height: 100%;
}
header {
    background: #ffffff;
    height: 60px;
    position:fixed;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: 2px solid #cccccc;
    overflow: visible;
}
.headerContent {
    width: 960px;
    margin: 0 auto;
}
#name {
    background: #4aaaa4;
    display: inline-block;
    height: 60px;
    margin: 0 auto;
    vertical-align: middle;
    color: white;

}
header h1 {
   padding: 10px;
   font-family: 'Georgia', Times, Times New Roman, serif;
   font-size: 24px;
   font-weight: 800;
   margin-top: 5px;
}
header nav {
    position: relative;
    display: inline-block;
    font-family:'Georgia', Times, Times New Roman, serif;
    vertical-align: middle;
    padding-left: 350px;
}
header nav li {
    float: left;
    margin-left: 30px; 
    color:#777777;
    border-left: solid 1px #777777;
}
#headerli {
    border: none;s
}
header nav li a {
    text-decoration: none;
    color: #777777;
    font-size: 20px;
    padding-left: 22px;
}
.content {
    width: 960px;
    height: 500px;
    margin: 0 auto;
}
main {
    background: #ffffff;
    border: 1px solid #dddddd;
    margin-top: 100px;
    margin-bottom:100px;
    box-sizing: border-box;
    width: 650px;
    float: left;
}
main h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 24px;
    font-weight: 800;
    color: #4aaaa5;
    height: 29px;
    padding-top: 26px;;
    border-bottom: 2px solid #dddddd;
    margin-left:20px;
    margin-right:20px;
    margin-bottom: 10px;
}
main img {
    float: left;
    margin-left: 20px;
    margin-right: 10px;
}
main p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    padding: 15px;
}
.sidebar {
    margin-top: 100px;
    margin-left: 30px;
    background: #ffffff;
    box-sizing: border-box;
    border: 1px solid #dddddd;
    width: 270px;
    height: 170px;
    display: inline-block;   
}
.sidebar h2 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 18px;
    font-weight: 800;
    color: #4aaaa5;
    height: 29px;
    padding-top: 26px;;
    border-bottom: 2px solid #dddddd;
    margin-left:20px;
    margin-right:20px;
    margin-bottom: 10px;
    text-align: center;
}
.connectLinks {
    text-align: center;
}
.sidebar img {
    margin-left: 18px;
}

footer {
    position: absolute;
    width: 100%;
    height: 80px;
    background: #666666;
    clear: both;
    bottom: 0;
    left: 0;
    text-align: center;
    border-top: 7px solid #4aaaa4; 
}
footer div {
    padding-top: 31px;
}
footer p {
    text-align: center;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
form {
    height: 460px;
    padding-left: 26px;
}
form p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    font-size: 21px;
    padding-left: 0px;
    padding-bottom: 3px;
}
input {
    margin-top: 6px;
    width: 600px;
    height: 31px;
}
textarea {
    margin-top: 6px;
    width: 600px;
    height: 200px;
}
button {
    background-color: #4aaaa4; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 26px;
    margin-bottom: 18px;
}